@mixin width-container() {
  margin-right: $unit-medium;
  margin-left: $unit-medium;
  
  @media (min-width: $desktop) {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: $max-width;
  }
}