// theme colours
$pthalo-green: #152614;
$forest-green: #1E441E;
$dark-jungle-green: #0A1A1D;
$middle-grey: #908680;
$white: #fff;
$black: #000;

// component colours
$nav-color: $pthalo-green;

// sizing units
$unit-base: 8px;
$unit-small: $unit-base * 2;
$unit-medium: $unit-base * 3;
$unit-large: $unit-base * 4;