<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="theme-color" content="#000000">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:article:author" content="{{ .Params.author }}" />
  <meta property="og:image" content="https://www.giffgaff.com{{ .RelPermalink }}{{ .Params.metaImage }}">
  <meta property="og:image:alt" content="{{ .Params.title }}" />
  <meta property="og:site_name" content="Eve's recipe collection" />
  <meta name="description" content="{{ .Description }}">

  <title>
    {{ .Title }}
  </title>
</head>